<div class="centered-form">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row form-element">
      <div class="block-div">
        <div class="ui-grid-col-6">
          <input
            #newLocation
            class="p-inputtext"
            name="myInput"
            pInputText
            type="text" />
        </div>
        <div class="col-sm-2 margin-left-10">
          <p-button
            (onClick)="addLocation(newLocation.value)"
            class="center-button p-button-lg"
            label="Add location"></p-button>
        </div>
      </div>
    </div>
    <div class="ui-grid-row form-element">
      <tr>
        <h3>
          <a>Locations </a>
          <i class="pi pi-home"></i>
        </h3>
      </tr>
      <p-table
        [(selection)]="selectedLocation"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '20rem' }"
        [value]="locations"
        [virtualScrollItemSize]="50"
        dataKey="locationId"
        scrollHeight="400px"
        selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
          </tr>
        </ng-template>
        <ng-template let-location pTemplate="body">
          <tr [pSelectableRow]="location">
            <td>{{ location.name }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-grid-row form-element">
      <tr>
        <h3>
          <a>Appliances </a>
          <i class="pi pi-instagram"></i>
        </h3>
      </tr>
      <tr>
        <p-selectButton
          (ngModel)="(selectedAppliance)"
          [multiple]="true"
          [options]="appliances"
          optionLabel="type">
        </p-selectButton>
      </tr>
    </div>
    <div class="ui-grid-row form-element">
      <div class="ui-grid-col-2"></div>
      <div class="ui-grid-col-4"></div>
    </div>
  </div>
</div>
