.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 248, 232);
}

.form-element {
    margin-bottom: 10px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.label-spacing {
    margin-bottom: 10px;
}

.logo-img {
    margin-bottom: 10px;
}