.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-element {
    margin-bottom: 10px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.label-spacing {
    margin-bottom: 10px;
}

.block-div {
    display: inline-flex;
}

.margin-left-10 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.longer-cell {
    width: 900px;
}
